# Projeto de Bases de Dados - Parte 2

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [ ]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

## 0. Carregamento da Base de Dados

Crie a base de dados “Aviacao” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados no ficheiro “aviacao.sql”

## 1. Restrições de Integridade [3 valores]

Implemente na base de dados “Aviacao” as seguintes restrições de integridade, podendo recorrer a Triggers caso estritamente necessário:

(RI-1) Aquando do check-in (i.e. quando se define o assento em bilhete) a classe do bilhete tem de corresponder à classe do assento e o aviao do assento tem de corresponder ao aviao do voo

In [ ]:
%%sql
-- (RI-1)
CREATE OR REPLACE FUNCTION check_bilhete_integridade()
RETURNS TRIGGER AS $$
DECLARE
    assento_classe BOOLEAN;
    voo_serie VARCHAR(80);
BEGIN
    -- Obtém a classe do assento 
    SELECT a.prim_classe INTO assento_classe
    FROM assento a
    WHERE a.lugar = NEW.lugar AND a.no_serie = NEW.no_serie;

    IF assento_classe IS NULL THEN
        RAISE EXCEPTION 'Assento (%s, %s) não existe.', NEW.lugar, NEW.no_serie;
    END IF;

    -- Verifica se a classe do bilhete é igual à classe do assento.
    IF assento_classe != NEW.prim_classe THEN
        RAISE EXCEPTION 'Classe do bilhete não corresponde à classe do assento.';
    END IF;

    -- Obtém o no_serie do voo
    SELECT v.no_serie INTO voo_serie
    FROM voo v
    WHERE v.id = NEW.voo_id;

    IF voo_serie IS NULL THEN
        RAISE EXCEPTION 'Voo com id % não existe.', NEW.voo_id;
    END IF;

    -- Verifica se o no_serie do bilhete é igual ao número de série do voo.
    IF voo_serie != NEW.no_serie THEN
        RAISE EXCEPTION 'Avião do assento (%s) não corresponde ao do voo (%s).', NEW.no_serie, voo_serie;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_check_bilhete_integridade
BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW
EXECUTE FUNCTION check_bilhete_integridade();

(RI-2) O número de bilhetes de cada classe vendidos para cada voo não pode exceder a capacidade (i.e., número de assentos) do avião para essa classe

In [ ]:
%%sql
-- (RI-2)

CREATE OR REPLACE FUNCTION check_numero_bilhetes_vendido()
RETURNS TRIGGER AS $$
DECLARE
    voo_serie VARCHAR(80);
    bilhetes_vendidos NUMERIC(16,4);
    numero_assentos NUMERIC(16,4);
BEGIN
    -- Contar o número de bilhetes da classe já vendidos
    SELECT COUNT(*) INTO bilhetes_vendidos
    FROM bilhete b
    WHERE b.voo_id = NEW.voo_id AND b.prim_classe = NEW.prim_classe;

    -- Obter o número de assentos disponíveis no avião dessa classe
    SELECT COUNT(*) INTO numero_assentos
    FROM assento a
    WHERE a.no_serie = NEW.no_serie AND a.prim_classe = NEW.prim_classe;


    IF numero_assentos <= bilhetes_vendidos THEN
        IF NEW.prim_classe THEN
            RAISE EXCEPTION 'Capacidade de bilhetes de primeira classe excedida para o voo %.', NEW.voo_id;
        ELSE
            RAISE EXCEPTION 'Capacidade de bilhetes de classe económica excedida para o voo %.', NEW.voo_id;
        END IF;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;


CREATE TRIGGER trigger_check_numero_bilhetes_vendido
BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW
EXECUTE FUNCTION check_numero_bilhetes_vendido();

(RI-3) A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes na venda

In [ ]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION check_bilhete_venda_antes_voo()
RETURNS TRIGGER AS $$
DECLARE
    venda_hora TIMESTAMP;
    voo_hora TIMESTAMP;
BEGIN
    SELECT v.hora INTO venda_hora
    FROM venda v
    WHERE v.codigo_reserva = NEW.codigo_reserva;

    SELECT vo.hora_partida INTO voo_hora
    FROM voo vo
    WHERE vo.id = NEW.voo_id;

    IF venda_hora >= voo_hora THEN
        RAISE EXCEPTION
            'A hora da venda (%) deve ser anterior à hora de partida do voo (%).',
            venda_hora, voo_hora;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_check_bilhete_venda_antes_voo
BEFORE INSERT OR UPDATE ON bilhete
FOR EACH ROW
EXECUTE FUNCTION check_bilhete_venda_antes_voo();

## 2. Preenchimento da Base de Dados [2 valores]

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- ≥10 aeroportos internacionais (reais) localizados na Europa, com pelo menos 2 cidades tendo 2 aeroportos
- ≥10 aviões de ≥3 modelos distintos (reais), com um número de assentos realista; assuma que as primeiras ~10% filas são de 1a classe
- ≥5 voos por dia entre 1 de Janeiro e 31 de Julho de 2025, cobrindo todos os aeroportos e todos os aviões; garanta que para cada voo entre dois aeroportos se segue um voo no sentido oposto; garanta ainda que cada avião tem partida no aeroporto da sua chegada anterior
- ≥30.000 bilhetes vendidos até à data presente, correspondendo a ≥10.000 vendas, com todo os bilhetes de voos já realizados tendo feito check-in, e com todos os voos tendo bilhetes de primeira e segunda classe vendidos
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação [5 valores]

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Aviacao’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todos os aeroportos (nome e cidade).|
|/voos/\<partida>/|Lista todos os voos (número de série do avião,  hora de partida e aeroporto de chegada) que partem do aeroporto de \<partida> até 12h após o momento da consulta.|
|/voos/\<partida>/\<chegada>/|Lista os próximos três voos (número de série do avião e hora de partida) entre o aeroporto de \<partida> e o aeroporto de \<chegada> para os quais ainda há bilhetes disponíveis.|
|/compra/\<voo>/|Faz uma compra de um ou mais bilhetes para o \<voo>, populando as tabelas \<venda> e \<bilhete>. Recebe como argumentos o nif do cliente, e uma lista de pares (nome de passageiro, classe de bilhete) especificando os bilhetes a comprar.|
|/checkin/\<bilhete>/|Faz o check-in de um bilhete, atribuindo-lhe automaticamente um assento da classe correspondente.|

## 3. Vistas [2 valores]

Crie uma vista materializada que detalhe as informações mais importantes sobre os voos, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

 *estatisticas_voos(no_serie, hora_partida, cidade_partida, pais_partida, cidade_chegada, pais_chegada, ano, mes, dia_do_mes, dia_da_semana, passageiros_1c, passageiros_2c, assentos_1c, assentos_2c, vendas_1c, vendas_2c)*

em que:
- *no_serie, hora_partida*: correspondem aos atributos homónimos da tabela *voo*
- *cidade_partida, pais_partida, cidade_chegada, pais_chegada*: correspondem aos atributos *cidade* e *pais* da tabela *aeroporto*, para o aeroporto de *partida* e *chegada* do *voo*
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *hora_partida* da tabela *voo*
- *passageiros_1c, passageiros_2c:*: correspondem ao número total de bilhetes vendidos para o voo, de primeira e segunda classe respectivamente
- *assentos_1c, assentos_2c:*: correspondem ao número de assentos de primeira e segunda classe no avião que realiza o voo
- *vendas_1c, vendas_2c*: correspondem ao somatório total dos preços dos bilhetes vendidos para o voo, de primeira e segunda classe respectivamente

In [ ]:
%%sql
CREATE MATERIALIZED VIEW estatisticas_voos AS
SELECT
  v.no_serie,
  v.hora_partida,
  ap.cidade AS cidade_partida,
  ap.pais AS pais_partida,
  ac.cidade AS cidade_chegada,
  ac.pais AS pais_chegada,

  -- extrair datas
  EXTRACT(YEAR FROM v.hora_partida) AS ano,
  EXTRACT(MONTH FROM v.hora_partida) AS mes,
  EXTRACT(DAY FROM v.hora_partida) AS dia_do_mes,
  (EXTRACT(DOW FROM v.hora_partida) + 1) AS dia_da_semana,

  -- passageiros 1ª classe: contar bilhetes com prim_classe = true
  COUNT(CASE WHEN b.prim_classe THEN 1 END) AS passageiros_1c,

  -- passageiros 2ª classe: contar bilhetes com prim_classe = false
  COUNT(CASE WHEN NOT b.prim_classe THEN 1 END) AS passageiros_2c,

  -- vendas 1ª classe: somar preços bilhetes com prim_classe = true
  COALESCE(SUM(CASE WHEN b.prim_classe THEN b.preco END), 0) AS vendas_1c,

  -- vendas 2ª classe: somar preços bilhetes com prim_classe = false
  COALESCE(SUM(CASE WHEN NOT b.prim_classe THEN b.preco END), 0) AS vendas_2c

FROM voo v
JOIN aeroporto ap ON v.partida = ap.codigo
JOIN aeroporto ac ON v.chegada = ac.codigo
LEFT JOIN bilhete b ON b.voo_id = v.id

GROUP BY
  v.no_serie,
  v.hora_partida,
  ap.cidade,
  ap.pais,
  ac.cidade,
  ac.pais;

## 5. Análise de Dados SQL e OLAP [5 valores]

Usando apenas a vista *estatisticas_voos* desenvolvida no ponto anterior, e **sem recurso ao operador LIMIT e com recurso ao operador WITH apenas se estritamente necessário**, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos da empresa. Pode usar agregações OLAP para os objetivos em que lhe parecer adequado.

1. Determinar a(s) rota(s) que tem/têm a maior procura para efeitos de aumentar a frequência de voos dessa(s) rota(s). Entende-se por rota um trajeto aéreo entre quaisquer duas cidades,  independentemente do sentido (e.g., voos Lisboa-Paris e Paris-Lisboa contam para a mesma rota). Considera-se como indicador da procura de uma rota o preenchimento médio dos aviões (i.e., o rácio entre o número total de passageiros e a capacidade total do avião) no último ano.

In [ ]:
%%sql

SELECT 
  CASE 
    WHEN cidade_partida < cidade_chegada THEN cidade_partida 
    ELSE cidade_chegada 
  END AS cidade1,
  CASE 
    WHEN cidade_partida < cidade_chegada THEN cidade_chegada 
    ELSE cidade_partida 
  END AS cidade2,
  SUM(passageiros_1c + passageiros_2c) AS total_passageiros,
  SUM(a.capacidade) AS capacidade_total,
  SUM(passageiros_1c + passageiros_2c)::float / NULLIF(SUM(a.capacidade), 0) AS preenchimento_medio
FROM estatisticas_voos ev
JOIN aviao a ON ev.no_serie = a.no_serie
WHERE ano = (SELECT MAX(ano) FROM estatisticas_voos)
GROUP BY cidade1, cidade2
HAVING SUM(passageiros_1c + passageiros_2c)::float / NULLIF(SUM(a.capacidade), 0) = (
    SELECT MAX(preench)
    FROM (
      SELECT 
        SUM(passageiros_1c + passageiros_2c)::float / NULLIF(SUM(a2.capacidade), 0) AS preench
      FROM estatisticas_voos ev2
      JOIN aviao a2 ON ev2.no_serie = a2.no_serie
      WHERE ano = (SELECT MAX(ano) FROM estatisticas_voos)
      GROUP BY
        CASE WHEN cidade_partida < cidade_chegada THEN cidade_partida ELSE cidade_chegada END,
        CASE WHEN cidade_partida < cidade_chegada THEN cidade_chegada ELSE cidade_partida END
    ) sub
);

2. Determinar as rotas pelas quais nos últimos 3 meses passaram todos os aviões da empresa, para efeitos de melhorar a gestão da frota.

In [ ]:
%%sql

SELECT
  CASE 
    WHEN cidade_partida < cidade_chegada THEN cidade_partida
    ELSE cidade_chegada
  END AS cidade1,
  CASE 
    WHEN cidade_partida < cidade_chegada THEN cidade_chegada
    ELSE cidade_partida
  END AS cidade2
FROM estatisticas_voos
WHERE make_date(ano::INT, mes::INT, dia_do_mes::INT) >= CURRENT_DATE - INTERVAL '3 months'
GROUP BY cidade1, cidade2
HAVING COUNT(DISTINCT no_serie) = (SELECT COUNT(*) FROM aviao);

3. Explorar a rentabilidade da empresa (vendas globais e por classe) nas dimensões espaço (global > pais > cidade, para a partida e chegada em simultâneo) e tempo (global > ano > mes > dia_do_mes), como apoio a um relatório executivo.

In [ ]:
%%sql

SELECT
  -- Dimensão espacial (partida + chegada em simultâneo)
  pais_partida,
  cidade_partida,
  pais_chegada,
  cidade_chegada,

  -- Dimensão temporal
  ano,
  mes,
  dia_do_mes,

  -- Métricas
  SUM(vendas_1c) AS total_vendas_1c,
  SUM(vendas_2c) AS total_vendas_2c,
  SUM(vendas_1c + vendas_2c) AS total_geral
FROM estatisticas_voos
GROUP BY ROLLUP (
  -- espaço
  (pais_partida, cidade_partida, pais_chegada, cidade_chegada),
  -- tempo
  (ano, mes, dia_do_mes)
)
ORDER BY 
  pais_partida NULLS LAST, cidade_partida,
  pais_chegada NULLS LAST, cidade_chegada,
  ano, mes, dia_do_mes;

4. Descobrir se há algum padrão ao longo da semana no rácio entre passageiros de primeira e segunda classe, com drill down na dimensão espaço (global > pais > cidade), que justifique uma abordagem mais flexível à divisão das classes.

In [ ]:
%%sql
SELECT
  pais_partida,
  cidade_partida,
  dia_da_semana,
  SUM(passageiros_1c) AS total_1c,
  SUM(passageiros_2c) AS total_2c,
  CASE
    WHEN SUM(passageiros_2c) = 0 THEN NULL
    ELSE ROUND(SUM(passageiros_1c)::NUMERIC / SUM(passageiros_2c), 2)
  END AS ratio_1c_2c
FROM estatisticas_voos
GROUP BY ROLLUP (pais_partida, cidade_partida, dia_da_semana)
ORDER BY pais_partida NULLS LAST, cidade_partida, dia_da_semana;

## 6. Índices [3 valores]

É expectável que seja necessário executar consultas semelhantes ao colectivo das consultas do ponto anterior diversas vezes ao longo do tempo, e pretendemos otimizar o desempenho da vista estatisticas_voos para esse efeito. Crie sobre a vista o(s) índice(s) que achar mais indicados para fazer essa otimização, justificando a sua escolha com argumentos teóricos e com demonstração prática do ganho em eficiência do índice por meio do comando EXPLAIN ANALYSE. Deve procurar uma otimização coletiva das consultas, evitando criar índices excessivos, particularmente se estes trazem apenas ganhos incrementais a uma das consultas.

Código para criação dos índices

Este índice foi criado para otimizar filtros combinados por cidade de partida e tempo (ano e mês), que aparecem, por exemplo, em:

In [ ]:
%%sql
EXPLAIN ANALYZE
SELECT
  ano, mes
FROM estatisticas_voos
WHERE cidade_partida = 'LIS'
GROUP BY ano, mes;

:

In [ ]:
%%sql
CREATE INDEX idx_partida_ano_mes 
ON estatisticas_voos (cidade_partida, ano, mes);

In [ ]:
%%sql
EXPLAIN ANALYZE
SELECT
  ano, mes
FROM estatisticas_voos
WHERE cidade_partida = 'LIS'
GROUP BY ano, mes;

Indice 2:

Este índice cobre consultas que envolvem filtros temporais detalhados (dia da semana, mês, ano) junto com origem e destino dos voos.

In [ ]:
%%sql
EXPLAIN ANALYZE
SELECT *
FROM estatisticas_voos
WHERE ano = 2024 AND mes = 6 AND cidade_partida = 'Lisboa';